ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li ul li {
    background-color: rgb(50, 50, 50);
}

ul li ul li:hover {
    background-color: rgb(60, 60, 60);
    transition: .2s;
}

ul li {
    display: inline-block;
    position: relative;
    background-color: rgb(67, 67, 67);
}

ul li a:hover {
    color: rgb(225, 225, 225);
    transition: .2s;
}

ul li a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    padding: 10px 20px;
    display: block;
}

ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
}

li:hover ul {
    display: block;
}

ul li ul li {
    display: block;
}

ul li ul a {
    padding: 10px 20px;
    color: rgb(210, 210, 210);
    transition: 0.2s;
}

ul li ul li a:hover {
    color: rgb(250, 250, 250);
}