body{
    width: 100vw;

    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.6px;
    line-height: 26px;

}
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;
    background: #EEEFF1;
}
header nav{

    font-size: 16px;
    display: flex;
    width: 70vh;
    justify-content: space-around;


}
header nav a{
    text-decoration: none;
    color: #000;


}
.Design-and-verstka{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    background: #EEEFF1;
    height: 50vh;


}
.Design-and-verstka_img{
    padding: 50px;
}
.Design-and-verstka_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    font-size: 16px;
    font-weight: 400;
    align-items: start;
    margin-bottom: 10px;
    height: 300px;

}
.Design-and-verstka_text h1{
    font-weight: 500;
    font-size: 48px;
    margin: 0;
    height: auto;

}
.Design-and-verstka_text span{
    color: #727272;
    line-height: 26px;
}
.Design-and-verstka_text a{
    display: flex;
    text-decoration: none;
    color: #FFF;
    background: #34547A;
    height: 65px;
    width: 215px;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.6px;
    font-weight: 400;
}
.About {
    display: flex;
    width: 100vw;
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.About-header{
    font-weight: 500;
}
.About-par{
    width: 540px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.project{
    display: flex;
    justify-content: center;
    background: #34547A;
    height: 250px;
    align-items: center;
    gap: 50px;
}
.project-elem{

    display: flex;
    gap: 20px;
    align-items: center;

}
.project-elem-img{
    height: 50px;
    width: 50px;
}
.project-elem-par{
    color: #FFF;
    width: 71px;
}
.skills {
    height: 653px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-my-skills{
    display: flex;
    flex-direction: column;
    width: 555px;
    height: 450px;
    align-items: start;
    justify-content: center;
}
.skills-my-skills h1{
    font-weight: 500;
}
.skills-my-skills div p{
    font-weight: 400;
    color: #727272;
}
.Me-png {
    width: 550px;
    height: 400px;
}
.skills-my-skills-rect-out {
    width: 445px;
    height: 4px;
    background: #C4C4C4;
}
.skills-my-skills-rect-in {
    width: 60%;
    height: 100%;
    background: #34547A;
}
.howIWork{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 1004px;
    background: #EEEFF1;

    align-items: center;
}
.howIWork-text{
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px
}
.howIWork div p {
    width: 540px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.howIWork img{
    width: 1110px;
    height: 600px;
}
.images{
    width: 100vw;
}
.img-grid{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
}
.img-grid-elem img {

    width:25vw;

}
.microsoft_logo{
    display: flex;
    height: 292px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.microsoft_logo img{
    height: 120px;
    width: 255px;
}
.wonna_website{
    display: flex;
    background: #EEEFF1;
    width: 100vw;
    height: 762px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wonna_website-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wonna_website-text p{
    text-align: center;
    width: 540px;
    color: #727272;
}
.form_field{
    border: none;
}
#form_name {

    width: 255px;
    height: 50px;
}
#form_email{
    width: 255px;
    height: 50px;
}
#form_message{

    width: 540px;
    height: 175px;
}
.wonna_website-form{
    display: flex;
    gap: 15px;
    width: 540px;
    flex-wrap: wrap;
}
.submit_button{
    width: 190px;
    height: 55px;
    background: #34547A;
    color: #FFFFFF;
    border: none;
    outline: none;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.contactLogos {
    display: flex;
    justify-content: center;
    padding: 40px 0;

}
.contactLogos > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 100px;
    object-fit: contain;
}
.contactLogos img{
    width:100%;
}