* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    background: url("https://avatars.mds.yandex.net/i?id=8014378840846851c129953ec30e8ae4c7920ae1-9243109-images-thumbs&n=13");
}

.backgroundBlack {
    background: black;
}

.backgroundOrange {
    background:orange;
}

.backgroundOrange, .backgroundBlack {
    font-size: 18px;
    font-weight: bold;
}

ul {
    list-style: none;
    text-align: center;
}

ul li ul li {
    background-color: deeppink;
}

ul li ul li:hover {
    background-color: rgb(60, 60, 60);
    transition: .2s;
}

.undeground {
    font-size: 16px;

}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    padding: 10px 20px;
    display: block;
}

ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
}

li:hover ul {
    display: block;
}

ul li ul li {
    display: block;
}

ul li ul a {
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

ul li ul li a:hover {
    color: rgb(250, 250, 250);
}