body {
    font-family: Roboto;
}
header {
    background-color: #EEEFF1;
    padding: 2% 0;
    font-size: 16px;
    font-weight: 400;
}
.header {
    display: flex;
    flex-direction: column;
}
.nav-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.nav-block__item {
    display: inline;
    color: #000;
    text-decoration: none;
    vertical-align: middle;
    padding: 10px;
}
.nav-block__item:hover {
    text-decoration: underline;
    color: #4eec68;
}
.logo {
    align-items: center;
}
.logo img{
    width: 100%;
    height: auto;
}

h2, h3, h4, h5 {
    font-size: 46px;
    margin: 0;
}
h1 {
    font-size: 48px;
    margin: 0;
}

.main-section__wrapper {
    background-color: #EEEFF1;
}
.main-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 6%;    
    padding-top: 5%;
    justify-content: space-between;
    gap: 30px;
}
.main-section__img img {
    border-radius: 60px;
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}
.main-section__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.main-section__descr {
    color: #727272;
    font-size: 16px;
    margin: 0;
}
.main-section__btn {
    width: 255px;
    height: 65px;
    background: #58CC02;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.main-section__btn:hover {
    cursor: pointer;
    background: #91ec4b;
}

.myself-section__wrapper {
    background-color: #F9F9F9;
}
.myself-section {
    display: flex;
    flex-direction: column;
    padding: 30px 0;    
    justify-content: space-between;
}
.myself-section__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.myself-section__descr {
    color: #727272;
    margin: 0;
}
.myself-section__img {
    display: flex;
}
.myself-section__img img {
    border-radius: 30px;
    width: 100%;
}

.abouthelp-section__img__wrapper {
    background-color: #58CC02;
}
.abouthelp-section__wrapper {
    background-color: #EEEFF1;
}
.abouthelp-section {
    display: flex;
    padding: 30px 0;
    justify-content: center;
}
.abouthelp-section__content {
    display: flex;
    flex-direction: column;    
    text-align: center;
}
.abouthelp-section__descr {
    color: #727272;
    margin: 0;
}
.abouthelp-section__img{
    
    padding: 30px;
}
.abouthelp-section__img img{
    width: 100%;
}
.languages {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}
.languages p {
    color: white;
    text-align: center;
}
.lang {
    padding: 10px;
    width: 50%;
}
.lang img{
    display: block;
    margin: auto;
}

.work-section__wrapper {
    background-color: #EEEFF1;    
}
.work-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.work-section__content {
    text-align: center;
}
.work-section__descr{
    padding: 5px;
    color: #727272;
    margin: 10px;
}
.work-section__img img{
    width: 100%;
    height: auto;
}

.function-section__wrapper {
    background-color: #F9F9F9;
}
.function-section__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 70px;
    margin: 0 auto;
}
.function-section__descr {
    color: #727272;
    padding: 30px;
}
.function_img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}
.function_img img {
    width: 100%;
    margin-bottom: 10px;
    height: auto;
}

.contact-section__wrapper {
    display: flex;
    flex-direction: column;
}
.duo_acc_wrapper {
    background-color: #58CC02;
}
.duo_acc, .vk_acc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-section__acc {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.yar_acc_duo, .yar_acc_vk {
    color: white;
    text-decoration: none;
}
.yar_acc_duo:hover {
    cursor: pointer;
    color: blue;
}
.duo_img img{
    width: 100%;
    height: auto;
}
.vk_acc_wrapper {
    background-color: #34547A;
}
.vk {
    background-color: #34547A;
}
.yar_acc_vk:hover {
    cursor: pointer;
    color: blueviolet;
}
.vk_img {
    display: flex;
    flex-direction: row;
}
.vk_img img{
    margin: 5px;
    width: 20%;
    height: auto;
}
.acc {    
    font-size: 12px;
}
.prava {
    margin-top: 5px;
    font-size: 8px;
}

@media (min-width:576px) {
    .languages {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lang {
        width: 35%;
    }
    .lang img {
        width: 80%;
    }
    .main-section__img img {
        width: 70%;
    }
    .acc {    
        font-size: 16px;
    }
    .prava {
        font-size: 10px;
    }
}

@media (min-width:768px) {
    .main-section, .header, .nav-block {
        flex-direction: row;
    }
    header {
        font-size: 12px;
    }
    .nav-block__item {
        padding: 5px;
    }
    .main-section__img img {
        border-radius: 34px;
    }
    .main-section__content {
        text-align: left;
    }
    .main-section__btn ,.nav-block {
        margin: 0;
    }
    .main-section__img img {
        width: 100%;
    }
    .lang {
        width: 35%;
    }
    .lang img {
        width: 50%;
    }
    .function_img {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .function_img img {
        width: 100%;
        margin-bottom: 0;
    }
    .acc {    
        font-size: 18px;
    }
    .prava {
        font-size: 12px;
    }
    .vk_acc {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media (min-width:992px) {
    header {
        font-size: 14px;
    }
    .languages {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .vk_acc {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media (min-width:1200px) {
    header {
        font-size: 16px;
    }
    .nav-block__item {
        padding: 15px;
    }
    .myself-section__content {
        text-align: left;
    }
    .myself-section {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width:1400px) {

}
/*стили для изображений */
.lazy {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  /* Стили для видимых изображений */
  .visible {
    opacity: 1;
  }
  