@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin:0;
    font-family:Roboto sans-serif ;
}
*,*:before,*:after{
    box-sizing: border-box;
}
*{
    text-decoration: none;
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.nav-block{
    display: flex;
    align-items: center;
    background: lightgray;
    border-radius: 15px;

}
.nav-block ul {
    display: flex;
    gap:30px;
}
.nav-block ul li{
    display: inline-block;
}
.nav-block ul li a{

    padding: 10px;
}
.logo{
    width: 96px;
    height: 60px;

}
 .main-section_content{
     width: 1200px;
     min-height: 400px;
     margin:0 auto;
     display: flex;
     align-items: center;

 }
 .descriptionText{
     display: flex;
     flex-direction: column;
 }
  .main-section_img{
      width: 450px;
      height: 150px;
      left: 487px;
  }
 .main-section_descr{
     width: 500px;
     height: 100px;
 }
button{
    padding: 1px 1px;
    color: white;
    background-color:cadetblue;

}
