@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin:0;
    font-family:Roboto sans-serif ;
}
h1{
   display: flex;
    align-items: center;
    justify-content: center;

}
p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.навыки{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 10px;
    font-size: 20px;
}
.meee{
    display: flex;
    align-items: center;
    justify-content: center;
}
