body { /*Фон*/
    background-color: bisque;
}
hr { /*Линия*/
    color: black;
}
span.bread { /*Последний элем Хлеб Крош*/
    color: #333;
}

a { /*Ссылки Хлеб Крош в стат*/
    color: #0b56ea;
    text-decoration: none;
}
a:visited { /*Ссылки Хлеб Крош при пос*/
    color: #0b56ea;
    text-decoration: none;
}
a:hover { /*Ссылки Хлеб Крош при наведений*/
    color: #0b56ea;
    text-decoration: underline;
}
.bread li a:after {
    display: inline-block;
    padding-left: 5px;
    color: black;
    content: '>';
}
.bread li:last-child a:after {
    content: none;
}
ul li {
    display: inline;
}
button {
    position: relative;
    left: 45%;
    right: 45%;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    background-color: brown;
    min-height: 40px;
    min-width: 130px;
    font-size: 25px;
}