
@media all {
body {
    padding: 0 10% 4% 10%;
    font-family: Rubik, Arial, sans-serif;}
    a:link {font-weight: bold;}
    a:visited {color: hsl(75,100%,40%);}
    
     h1 {
       background: rgb(2, 34, 177);
       color: white;
       margin-bottom: 0px;
       padding: 6px 18px;
       font-size: 1em;}
     h3 {
       font-size: 1.6em;
       margin-top: 0; margin-bottom: 5px;
       font-family: Spectral, "Arial Black", sans-serif;}
     h4 {
       margin-top: 10px; margin-bottom: 10px;
       font-size: 1em;}
     h5 {
       font-style: italic;
       font-weight: 400;
       font-size:0.9em;
       margin-top:5px;
    }
      
     #name {
       font-size: 2rem; font-weight: 900;
       margin-top: 15px; margin-bottom:15px;
       line-height: 100%;
       font-family: Spectral, "Arial Black", sans-serif;
       }
    
     #jobTitle {
       font-size: 1em; font-weight: 400;
       font-family: Rubik;}

    

    .flex-container {
      display: flex;}
    
 
     #left {
      width: 30%;
      box-sizing: border-box;
      background: hsl(0,0%, 90%);
      text-align: center;}
    

     div div div {
      position: relative;
      border: 2px hsl(0, 0%, 0%) solid;
      box-sizing: border-box;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 55px;
      margin-bottom: 30px;
      min-height: 250px;
      padding-bottom: 4%;
      z-index: 0;}
    

     div div div h3 {
      position: absolute;
      top: -8%;
      right: 20%;
      left: 20%;
      z-index: 1;
      text-align: center;
      background: hsl(0,0%, 90%);} 
    
    div div div h4 {
      margin-top: 10%;}
    div div div p {
      margin-top: 2%;
      font-size: 1em;}
    

    #right {
      width: 70%;
      box-sizing: border-box;
      padding: 50px 5%;
      margin: 0;
    }
    

    img {
      width: 33%;
      display: block;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      border: 2px black solid;
      }

    hr {
      display:block;
      background-color: black;
      text-align:center;
    }
    /* short line under the 'marketing manager' in the left column */
    #mainHR {
      width: 25%;
      border: 2px solid black;
      margin-top: 20px;
    }
}