ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-image: url('https://clck.ru/36AHAD'); 
    background-size: cover; 
    color: #fff;
    font-family: Arial, sans-serif; 
}

ul li ul li {
    background-color: rgba(0, 0, 0, 0.7); 
}

ul li ul li:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}

ul li {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7); 
    margin: 0 10px; 
    padding: 10px 20px; 
    border-radius: 5px; 
}

ul li a:hover {
    color: #ffcc00; 
}

ul li a {
    text-decoration: none;
    color: #fff; 
    display: block;
}

ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
}

li:hover ul {
    display: block;
}

ul li ul li {
    display: block;
}

ul li ul a {
    color: #ffcc00; 
}

ul li ul li a:hover {
    color: #fff; 
}
