a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
/*Голова*/
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto-Regular", Helvetica;
    background-color: #fef8fa;
}
.header {
    position: relative;
    background: mistyrose;
    width: 100%;
    height: 200px;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: 10;
}
.headerUnd {
    position: absolute;
    top: 15px;
    background-color: #ffb6ad;
    width: 100%;
    height: 200px;
    padding: 0px;
    margin: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    overflow: hidden;
    z-index: -1;
}
.logo {
    width: clamp(80px,5vw,100px);
    height: clamp(80px,5vw,100px);
}
.logoDiv {
    width: 100px;
    height: 100px;
    flex: 1;
    text-align: center;
}
.locat {
    flex: 3;
    font-family: "Roboto-Regular", Helvetica;
    font-size: clamp(16px, 4vw, 24px);
}
a.locat {
    text-decoration: none;
    color: black;
}
    a.locat:hover {
        text-decoration: none;
        color: #e26f61;
    }
ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
/*Голова конец*/
/*НапишМне*/
.NapMne {
    display: flex;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-bottom: 50px;
} 
.NapMneVn{
}
a.ButNapMne {
    border: none;
    background-color: #ffb6ad;
    text-align: center;
    padding: 1rem 1.5rem;
    position: relative;
    top: 20px;
    border-radius: 10px;
    color: #fef8fa;
}
a.ButNapMne:hover {
    border: none;
    background-color: #ffc7c1;
    text-align: center;
    padding: 1rem 1.5rem;
    position: relative;
    top: 20px;
    border-radius: 10px;
    color: #fef8fa;
}
/*НапишМне конец*/
/*ОбоМне*/
.OboMne {
    background: #ffeae7;
    width: 100%;
    height: 200px;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}
.NadpsOboMne {
    padding: 10px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    background-color: #ffb6ad;
    color: #fef8fa;
}
/*ОбоМне конец*/
/*Список*/
.list {
    position: relative;
    top: -50px;
    background-color: #d56b5f;
    width: 100%;
    height: max-content;
    z-index: -1;
    padding-bottom: 120px;
}
.listBody {
    position: relative;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.listObj {
    text-align: center;
    font-weight: 400;
    color: white;
    width: 20%;
}
/*Список конец*/
/*Мои навыки*/
.MySkills {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
}
.Skills {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Me {
    width: 40%;
    text-align: center;
    height: max-content;
    justify-content: center;
}
.MoyNav {
    font-size: clamp(25px, 5vw, 45px);
    text-align: center;
}
.DlyNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.Nav1 {
    width: 80%;
    height: 10px;
    background-color: #ffeae7;
    border-radius: 10px;
}
.Nav1_1 {
    width: 80%;
    height: 10px;
    background-color: #d56b5f;
    border-radius: 10px;
}
.Nav2 {
    width: 80%;
    height: 10px;
    background-color: #ffeae7;
    border-radius: 10px;
}

.Nav2_2 {
    width: 65%;
    height: 10px;
    background-color: #d56b5f;
    border-radius: 10px;
}
.Nav3 {
    width: 80%;
    height: 10px;
    background-color: #ffeae7;
    border-radius: 10px;
}

.Nav3_3 {
    width: 15%;
    height: 10px;
    background-color: #d56b5f;
    border-radius: 10px;
}
/*Мои навыки конец*/
/*коллаж*/
@media (min-width: 576px){
    .Collaj {
        position: relative;
        top: 40px;
        display: grid;
        width: 100%;
        height: max-content;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .ColPick {
        height: 100%;
        width: 100%;
    }
    .Col1 {
        background-color: blue;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }
    .Col2 {
        background-color: green;
        grid-row: 1 / 1;
        grid-column: 2 / 2;
    }
    .Col3 {
        background-color: yellow;
        grid-row: 1 / 1;
        grid-column: 3 / 3;
    }
    .Col4_8 {
        background-color: blue;
        grid-row: 1 / 3;
        grid-column: 4 / 4;
    }
    .Col5 {
        background-color: yellow;
        grid-row: 2 / 2;
        grid-column: 1 / 1;
    }
    .Col6_7 {
        background-color: darkmagenta;
        grid-row: 2 / 2;
        grid-column: 2 / 4;
    }
}
@media (max-width: 576px) {
    .Collaj {
        position: relative;
        top: 40px;
        display: grid;
        width: 100%;
        height: max-content;
        grid-template-rows: 50vw 50vw 50vw;
        grid-template-columns: 1fr 1fr;
    }

    .ColPick {
        height: 100%;
        width: 100%;
    }

    .Col1 {
        background-color: blue;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }

    .Col2 {
        background-color: green;
        grid-row: 1 / 1;
        grid-column: 2 / 2;
    }

    .Col3 {
        background-color: yellow;
        grid-row: 2 / 2;
        grid-column: 1 / 1;
    }

    .Col4_8 {
        background-color: blue;
        grid-row: 2 / 2;
        grid-column: 2 / 3;
    }

    .Col5 {
        background-color: yellow;
        grid-row: 3 / 3;
        grid-column: 1 / 1;
    }

    .Col6_7 {
        background-color: darkmagenta;
        grid-row: 3 / 3;
        grid-column: 2 / 3;
    }
}
/*Коллаж конец*/
/*ХотСайт*/
.HotSite {
    display: flex;
    position: relative;
    top: 100px;
    background-color: #ffeae7;
    width: 100%;
    height: max-content;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 20px 10px -12px #c34435;
}
.SpaceSoob {
    text-align: center;
    display: grid;
    width: 33%;
    height: 300px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.Soob1 {
    width: 100%;
    height: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border: none;
}
.Soob2 {
    width: 100%;
    height: 100%;
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    border: none;
}
.Soob3 {
    width: 100%;
    height: 100%;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    border: none;
}
/*ХотСайт конец*/
/*Низ*/
.Bottom {
    position: relative;
    top: 100px;
    background-color: #d56b5f;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
}
/*Низ конец*/