table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    
  }
  
  th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #508c96;
    font-weight: bold;
  }
  
  td:hover {
    background-color: #ba9999;
  }

  .align{
    text-align: right;
    background-color: black;
    color: white;
  }