@import url('https://fonts.googleapis.com/css2? Family= Montserrat:ital,wght@0,300;0,400;0,700;1,300 & display=swap');

html {
  font-size: 15px;
}
body {
  margin: 0;
  font-size: 16px;
  color: #2B2A2C;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: 300;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Block */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  padding: 18px;
}
.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
}

.user__avatar {
  width: 57px;
  height: 57px;
  border-radius: 50%;
}


.user__content {
  padding-left: 9px;
}

.user__name {
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 18px;
  color: #2B2A2C;
  font-weight: 700;
}
.user__prof {
  font-size: 12px;
  color: rgba(43, 42, 44, 0.7);
}
.nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__link {
  margin-left: 30px;
  position: relative;
  font-size: 12px;
  color: #2B2A2C;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  /* Modificators */
}
.nav__link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #2B2A2C;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.nav__link:hover:not(.nav__link--btn):after {
  width: 100%;
}
.nav__link--btn {
  padding: 12px 30px;
  border: 2px solid #2B2A2C;
  border-radius: 20px;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.nav__link--btn:hover {
  background-color: #2B2A2C;
  color: #fff;
}
.intro__inner {
  display: flex;
  padding-top: 70px;
  padding-bottom: 120px;
  position: relative;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
}

.intro__subtitle {
  font-size: 17px;
  color: #2B2A2C;
  font-weight: 200;
}
.intro__title {
  margin-bottom: 5px;
  font-size: 45px;
  color: #2B2A2C;
  font-weight: 700;
}
.intro__text {
  margin-bottom: 25px;
  font-size: 18px;
  color: rgba(43, 42, 44, 0.7);
}

.social {
  display: flex;
  margin-bottom: 42px;
}

.social__link {
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.2s linear;
}

.social__link img {
  width: 57px;
  height: 57px;
  border-radius: 50%;  
}



.social__link:hover {
  transform: translateY(-5px);
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 16px 18px;
  min-width: 170px;
  border: 1px solid #2B2A2C;
  border-radius: 30px;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.1;
  color: #2B2A2C;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #2B2A2C;
  color: #fff;
}
.btn + .btn {
  margin-left: 15px;
}
--thin {
  min-width: 145px;
  font-size: 12px;
}
.about {
  display: flex;
  padding-top: 70px;
  padding-bottom: 10px;
  position: relative;

}
.about__inner {
  display: flex;
  border-bottom: 1px solid rgba(43, 42, 44, 0.3);
  padding-bottom: 90px;
}
.about__photo,
.about__content {
  max-width: 100%;
  height: auto;
}


.about__photo img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 5px 5px 10px #888;
}

.about__content {
  padding-left: 48px;
  margin-top: 30px;
  margin: 0 auto;
}
.about__photo {
  position: relative;
}
.about__title {
  font-size: 45px;
  color: #2B2A2C;
  font-weight: 700;
  margin: 0 auto;

}
.about__bigtitle {
  margin-bottom: 18px;
  position: relative;
  font-size: 70px;
  line-height: 1.1;
  color: rgba(43, 42, 44, 0.15);
  font-weight: 700;
  margin: 0 auto;
}
.about__text {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 2;
  color: #6A696B;
  font-weight: 300;
  margin: 0 auto;
}

.about__photo img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 5px 5px 10px #888;
  text-align: center;
  margin: 0 auto;
}


.descriptionSkills {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.descriptionSkills h3,
.descriptionSkills p {
  margin-left: 20px;
  display: inline-block;
}

.Skills {
  height: 150px;
  background: #2B2A2C;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.block__Skills {
  display: flex;
  width: 150px;
  height: 50px;

}

.imageSkills img {
  height: 50px;
  width: auto;
  border-radius: 15px;
}




.skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 150px;
}

.progressBar {
  height: 50px;
  width: 350px;
  border-radius: 30%;
}


.works {
  margin: 45px 0;
}
.works__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}
.work {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s linear;
}
.work:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.work__image {

  max-width: 100%;

  border-radius: 0%;
}
.work__content {
  padding: 1rem 0.8rem;
}
.work__cat {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #2B2A2C;
  text-transform: uppercase;
}
.work__title {
  display: flex;
  justify-content: space-between;
  font-size: 1.06rem;
  color: #2B2A2C;
  text-transform: uppercase;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 35px;
}
--thin {
  min-width: 145px;
  font-size: 12px;
}
.portfolio__col {
  flex-basis: 33.33333%;
  padding: 15px;
}

.footer {
  padding: 15px 0px;
  background-color: #2B2A2C;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__credits {
  display: flex;
  align-items: center;
}
.footer__copyright {
  padding-right: 12px;
  margin-right: 15px;
  font-size: 14px;
  color: #BBBBCC;
  border-right: 1px solid rgba(106, 105, 107, 0.35);
}
.footer__social {
  display: flex;
}
.footer__link {
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.2s linear;
}

.footer__link img{
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

.footer__link:hover {
  transform: translateY(-5px);
}
.footer__nav {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.footer__nav-link {
  margin-left: 30px;
  position: relative;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  /* Modificators */
}
.footer__nav-link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #FF0000;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.footer__nav-link:hover:not(.nav__link--btn):after {
  width: 100%;
}
.footer__nav-link--btn {
  padding: 12px 30px;
  border: 2px solid #fff;
  border-radius: 20px;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.footer__nav-link--btn:hover {
  background-color: #fff;
  color: #FF0000;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  background-color: rgba(6, 15, 49, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal.show {
  display: flex;
}
.modal__dialog {
  text-align: center;
  transform: scale(0);
  transition: transform 0.2s linear;
}

.modal__close {
width: 57px;
height: 57px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  transition: transform 0.2s linear;

}

.modal__close img{
  width: 57px;
  height: 57px;
}
.modal__close:hover {
  transform: translateY(-3px);
}
.modal__content {
  padding: 5rem 1rem;
}
.modal__title {
  margin-bottom: 3.6rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: #2B2A2C;
  font-weight: 700;
  text-align: center;
}
.modal__subtitle {
  text-transform: uppercase;
  font-size: 1.06rem;
  color: #2B2A2C;
  font-weight: 400;
}
.modal-work {
  display: flex;
}
.modal-work__preview {
  width: 65%;
  position: relative;
  overflow: hidden;
}
.modal-work__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.modal-work__content {
  width: 35%;
  padding: 3.4rem 6.6rem 1rem 1.73rem;
  position: relative;
}
.modal-work__header {
  margin-bottom: 2.2rem;
}
.modal-work__title {
  margin-bottom: 0.2rem;
  font-size: 2.12rem;
  color: #2B2A2C;
  font-weight: 700;
  text-transform: uppercase;
}
.modal-work__info {
  font-size: 1.2rem;
  color: #6A696B;
  text-transform: uppercase;
}
.modal-work__info-divider {
  margin: 0 1rem;
}
.modal-work__client {
  margin-bottom: 2.2rem;
}
.modal-work__client-title {
  margin-bottom: 0.2rem;
  font-size: 1.06rem;
  color: #2B2A2C;
  font-weight: 700;
}
.modal-work__client-company {
  font-size: 0.94rem;
  font-style: italic;
  color: #6A696B;
}
.modal-work__text {
  margin-bottom: 8.66rem;
  font-size: 0.8rem;
  line-height: 2;
  color: #6A696B;
  font-weight: 300;
}
.modal-work__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.8rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.modal-work__btn {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.94rem;
  color: #2B2A2C;
  text-transform: uppercase;
}
.progress-bar {
  margin-bottom: 2.6rem;
}
.progress-bar__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}
.progress-bar__title {
  font-size: 0.94rem;
  font-weight: 300;
}
.progress-bar__right {
  padding-left: 1.2rem;
}
.progress-bar__bar {
  width: 139px;
  height: 6px;
  background-color: #EFEFEF;
}
.progress-bar__progress {
  height: 100%;
  background-color: #6A696B;
  transition: width 0.2s linear;
}
.contact {
  display: flex;
  justify-content: center;
}
.contact__left {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  text-align: center;
}
.contact__info {
  margin: 2rem 0 3rem;
  padding: 0;
  list-style: none;
  font-size: 0.94rem;
  color: #2B2A2C;
  font-weight: 300;
}
.contact__info-item {
 
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
 
  width: 57px;
  max-width: 100%;
  height: 57px;
}


.contact__info-item:last-child {
  margin-bottom: 0;
}
.contact__info-icon img{
  margin-right: 0.75rem;
  width: 57px;
  height: 57px;
}
.contact__img {
  width: 256px;
  height: 256px;
}
.form__group {
  margin-bottom: 1.8rem;
}
.form__label {
  display: inline-block;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  color: #2B2A2C;
  font-weight: 700;
}
.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding: 1.3rem 1.8rem;
  border: 1px solid rgba(112, 112, 112, 0.3);
  border-radius: 1.8rem;
  font-family: inherit;
  font-size: 0.8rem;
  line-height: 1.2;
  font-weight: 300;
  color: #2B2A2C;
}
.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-color: #36abc7;
}
.form__input::placeholder,
.form__textarea::placeholder {
  color: #2B2A2C;
}
.form__textarea {
  height: 200px;
  resize: none;
}

@media(min-width:320px) {

  .intro__content {
    max-width: 100%;
  }
  .intro__photo {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888;
    text-align: center;
  }
  .social {
    max-width: 100%;
    display: flex;
    margin-bottom: 42px;
  }

  .Skills {
    height: 150px;
    background: #2B2A2C;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .myPhoto img {
    max-width: 100%;
    margin-left: 15px;
    border-radius: 20px;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 35px;
  }
  
  .work__image {
    display: flex;
    max-width: 100%;;
    border-radius: 0%;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer__credits {
  display: block;
  align-items: center;
}

.footer__nav {
  display: flex;
  align-items: center;
  font-size: 12px;
  flex-direction: column;
  line-height: 2;
}
}


@media(min-width:576px) {
  .header__inner {
    flex-direction: row;
  }
    .intro__content {
      max-width: 100%;
    }
    .social {
      max-width: 100%;
      display: flex;
      margin-bottom: 42px;
    }

    .block__Skills {
      display: flex;
      width: 150px;
      height: 50px;
    }
    .work__image {
      display: flex;
      max-width: 100%;;
      border-radius: 0%;
  }

    .myPhoto img {
      max-width: 100%;
      margin-left: 15px;
      border-radius: 20px;
    }
    .portfolio {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px 35px;
    }

    .footer__inner {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    .footer__credits {
      display: flex;
      align-items: center;
    }

    .footer__nav {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 2;
      text-align: center;
    }

  }

@media(min-width:768px){
  .block__Skills {
      display: flex;
      width: 150px;
      height: 50px;
    }

    .Skills {
      height: 150px;
      background: #2B2A2C;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    .myPhoto img {
      max-width: 100%;
      margin-left: 15px;
      border-radius: 20px;
    }

    .portfolio {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px 35px;
    }
    .work__image {
      display: flex;
      max-width: 100%;
      border-radius: 0%;
}
.footer__inner {
  display: flex;
  flex-direction: row;
}

.footer__credits {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer__nav {
  display: flex;
  align-items: center;
  font-size: 12px;
  flex-direction: row;
  line-height: 2;
}
}


@media(min-width:1024px){
  .footer__credits {
    display: flex;
  }
  .footer__credits {
    display: flex;
    align-items: center;
  }
  .footer__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
.footer__nav {
  display: flex;
  align-items: center;
  font-size: 12px;
  flex-direction: row;
}
}

@media(min-width: 1200px) {
  .intro__content {
    max-width: 100%;
  }
 
  .social {
    max-width: 100%;
    display: flex;
    margin-bottom: 42px;
  }

.Skills {
  height: 150px;
  background: #2B2A2C;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.myPhoto img {
  max-width: 100%;
  margin-left: 15px;
  border-radius: 20px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 35px;
}
.work__image {
  display: block;
  max-width: 100%;
  height: 300px;
  width: 370px;
  border-radius: 0%;

}
.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer__credits {
  display: flex;
  align-items: center;
}

.footer__nav {
  display: flex;
  align-items: center;
  font-size: 12px;
  flex-direction: row;
}
}

