* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.blocks {
    width: 40px;
    height: 40px;
    background: #ccc;
}

.blocks span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.navigation {
    background-color: #ddd;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 100px;
    gap: 6px;
}

.blocks:hover {
    background: #d10953;
    color:#fff;
}

.main {
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 20%;
}