 .hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D44561;
    min-height: 350px;
    width: 100%;
    border-radius: 30px;
 }
 .hello .say-hi h1 {
    font-family: Edwardian Script ITC;
    font-weight: bold;
    font-size: 48px;
 }
 .slider {
   display: flex;
   flex-direction: row;
 }
 .surprises {
    display: flex;
    width: 40%;
    min-height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border-color: #D44561;
   border-radius: 50px;
   box-shadow: #D44561;
   text-align: center;
 }
 .for-js {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   justify-content: center;
   align-items: center;
   font-size: 24px;
 }
 .for-js a {
    text-decoration: none;
    color: black;
 }
 .for-js a:hover {
    text-decoration: none;
    color: #D44561;
 }