@media (min-width: 576px) {
    .nav_panel {
        flex-direction: row;
    }

    .meeting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 30px 0;
    }

    .design {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    .mySkill {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skill {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;
    }

    .logos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
}


@media (min-width: 768px) {
    .feedBack {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .navigate {
        flex-direction: row;
    }

    .meeting {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }

    .design {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .text1 {
        text-align: center;
    }

    .mySkill {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .skill {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) {
}
