body {
    background-color: bisque;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
a:checked {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
}
p {
    white-space: pre-line;
    text-align: left;
}
.zadan {
    padding: 50px;
    text-align: center;
}
.code {
    background-color: darksalmon;
    padding: 10px;
    display: flex;
    justify-content: flex-start; 
    height: max-content;
}
.line {
    text-align: center;
    background-color: black;
    height: 100%;
    width: 2px;
}
.linehor {
    background-color: black;
    width: 100%;
    height: 2px;
}
.num {
    width: 15px;
    height: max-content;
    color: saddlebrown;
}
.java {
    text-align: left;
}
button {
    margin-block: 10px;
    padding: 10px;
    border: none;
    background-color: saddlebrown;
    border-radius: 30%;
    color: white;
    text-decoration: dotted;
    font-weight: bold;
}
.vvd {
    background-color: lightcoral;
    padding: 10px;
    height: max-content;
}
.menuItem {
    display: block;
    margin: 2rem 2rem;
    font-size: 2rem;
    color: darkred;
    text-decoration: none;
}

    .menuItem:hover {
        text-decoration: underline;
    }

.hamburger {
    position: fixed;
    z-index: 100;
    top: 0px;
    right: 0px;
    padding: 5px;
    background: darkred;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-150%);
    top: 0;
    right: 0;
    z-index: 99;
    background-color: burlywood;
    color: white;
    list-style: none;
    padding-top: 4rem;
    text-align: center;
    padding: 30px;
    display: inline;
    font-size: 20px;
}

.showMenu {
    transform: translateY(0);
}

li {
    display: inline;
}