/* body{
    max-width: 100%;
}
@media screen and (max-width:1400px){
   body{
    width: 1000px;
   }
}
@media screen and (max-width:1000px){
    body{
        width: 770px;
    }
}
@media screen and (max-width:770px){
    body{
        width: 480px;
    }
} */