body {
    font-family: Roboto;
}
header {
    background: #eeeff1;
}
.head1 {
    font-size: 44px;;
}
.container{
    width: 1200px;
    min-height: 200px;
    margin: 0 auto;
}
.navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.logo {
    width: 96px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_panel {
    display: flex;
    gap:30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.nav_item {
    color: #34547A;
    text-decoration: none;
}
.nav_panel :hover{
    color: #7c12e7;
}
.meeting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 50px 0 100px 0;
} 
.design {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap:30px;
}
.design > * {
    margin: 0;
}
.text1 {
    color: #3d3f42;
    font-family:Roboto;
}
.meetMe {
    width: 150px;
    font-size: 20px;
    background-color: #34547A;
    color: white;
    text-decoration: none;
    padding:10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.meetMe:hover {
    color:#7c12e7;
    background-color: #b4d1f3;
}
main{
    background: white;
}
.aboutMe { 
    width: 900px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 170px;
}   
.head2 {
    text-align: center;
    color: #000;
}
.text2 {
    text-align: center;
    color: #3d3f42;
    font-size:24px;

}
.mySkill {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 80px;
    margin-bottom: 150px;
    
}
.head3 {
    color: #000;
    font-size: 48px;
}
.skills {
    color: #3d3f42;
    font-size:32px;
}
.myPhoto img{
    border-radius: 75px;
}
.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    padding:50px 0;
}
.logos > * {
    width:25%;
    object-fit: contain;
}
footer{
    background: #195094;
}
.feedBack {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.head4 {
    color: #fdfdfd;
    font-size: 36px;
}
.text3 {
    width: 400px;
    height: 40px;
    color: #fdfdfd;
    font-size:24px;
}
.contactLogos {
    display: flex;
    justify-content: center;
    padding: 25px 0;
   
}
.contactLogos > * {
    display: flex;
    justify-content: center;
    align-items: scenter;
    width:80px;
    height: 80px;
    object-fit: contain;
}
.contactLogos img{
    width:100%;
}